[Unit]
Description=shieldwall agent service
Documentation=https://shieldwall.me/
Wants=network.target
After=network.target

[Service]
Type=simple
PermissionsStartOnly=true
ExecStart=/usr/bin/shieldwall-agent -log /var/log/shieldwall.log
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target